.btn1 {
   background: $main1;
   border-radius: 5px;
   padding: 10px 25px;
   color: white;
   border: none;
   font-size: 3rem;
   text-align: center;
   @include transition(.18s);
   &:hover {
      background: darken($main1, 10%);
   }
   &:active {
      background: lighten($main1, 5%);
   }
}

.btn2 {
   background: $main2;
   border-radius: 5px;
   padding: 10px 25px;
   margin: 40px;
   display: block;
   color: white;
   border: none;
   font-size: 2rem;
   text-align: center;
   @include transition(.18s);
   &:hover {
      background: darken($main2, 10%);
   }
   &:active {
      background: lighten($main2, 5%);
   }
}

.btn3 {
   background: $main1;
   border-radius: 5px;
   padding: 10px 25px;
   margin: 40px;
   display: block;
   color: white;
   border: none;
   font-size: 2rem;
   text-align: center;
   @include transition(.18s);
   &:hover {
      background: darken($main1, 10%);
   }
   &:active {
      background: lighten($main1, 5%);
   }
}
