section.services {
   padding: 50px 0px;
   background-color: $main2;
   background-image: url("/assets/img/bright-squares-2.png");
   background-repeat: repeat-x repeat-y;
   text-align: center;
   p.service-text {
      color: white;
      padding: 0px 50px 50px 50px;
      font-size: 2rem;
   }
   img.service-icon {
      height: 75px;
      &.wiggle {
         -webkit-animation-name: wiggle;
      	-webkit-animation-duration: 0.8s;
      	-webkit-transform-origin:50% 50%;
      	-webkit-animation-timing-function: linear;
      }
   }
}

@-webkit-keyframes wiggle {
   0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
   10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
   20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
   30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
   40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
   50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
   60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
   70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
   80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
   90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
   100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
