section.work {
   background-color: $black;
   padding: 35px 0 35px 0;
   text-align: center;
   overflow: hidden;
   .item {
      position: relative;
      left: -1200px;
      @include transition(.1s);
      &:hover {
         transform: scale(1.1);
      }
      img {
         max-width: 100%;
         padding: 15px;
      }
      &.item-fade-in {
         left: 0px;
      }
   }
   .lead {
      color: white;
      text-align: center;
   }
}
