section.contact {
   a {
      background: $main1;
      color: white;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 6rem;
      text-decoration: none;
      line-height: 6;
      @media (max-width: 768px) {
         font-size: 3.5rem;
      }
      @include transition(0.3s);
      &:hover {
         background: darken($main1, 10%);
      }
   }
}
