section.content {
   height: 700px;
   h1 {
      color: white;
      text-align: center;
   }
   .videos {
      background-color: $main1;
      background-image: url("/assets/img/bg-videos.png");
      background-size: cover;
      padding: 50px 0;
      height: 100%;
      .video-inner {
         margin: 0 50px;
         iframe {
            border: 0;
            -webkit-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.75);
         }
      }
   }
   .articles {
      background-color: $main2;
      background-image: url("/assets/img/bg-articles.png");
      background-size: cover;
      padding: 50px 0;
      height: 100%;
      .article-inner {
         display: table;
         margin: 0 auto;
         ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            li {
               margin-left: 0px;
               padding: 0px;
            }
         }
         a.article-link {
            color: white;
            font-size: 2rem;
            line-height: 6rem;
            text-decoration: none;
         }
      }
   }
}
