section.contact {
   a {
      background: #e24040;
      color: white;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 6rem;
      text-decoration: none;
      line-height: 6;
   }
}
